.bg {
  display: block;
  position: fixed;
  width: 100%; 
  height: 100vh;
  background-image: url('./img/background1.jpg');
  background-size: 100%;
}

.transparentOVerlay{
  width: 100%; 
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
